.places {
  max-width: 984px;
  margin: auto;
}

@media screen and (max-width: 1184px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 928px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 320px;
  }
}
