.paragraphs__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 163%;
}

.paragraphs__paragraph:first-of-type {
  margin-bottom: 26px;
}

@media screen and (max-width: 768px) {
  .paragraphs__paragraph {
    font-size: 18px;
  }
}
