.cover__subtitle {
  max-width: 360px;
  margin: 0 auto;
  padding-top: 32px;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    padding-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

