.lead__image-ellipse:nth-child(3) {
  position: absolute;
  top: 245.83px;
  right: 52.01px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(6) {
  position: absolute;
  top: 216.71px;
  right: 115.05px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(9) {
  position: absolute;
  top: 271.66px;
  right: 249.98px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(12) {
  position: absolute;
  top: 286.93px;
  right: 355.65px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(15) {
  position: absolute;
  top: 241.14px;
  right: 412.4px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(18) {
  position: absolute;
  top: 301.17px;
  right: 445.59px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(21) {
  position: absolute;
  top: 273.7px;
  right: 547.75px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(24) {
  position: absolute;
  top: 234.01px;
  right: 625.47px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(27) {
  position: absolute;
  top: 293.03px;
  right: 713.67px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(30) {
  position: absolute;
  top: 267.59px;
  right: 745.98px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(33) {
  position: absolute;
  top: 125.12px;
  right: 854.25px;
  z-index: 1;
}

.lead__image-ellipse:nth-child(36) {
  position: absolute;
  top: 219.7px;
  right: 940.02px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .lead__image-ellipse {
    width: 6.59px;
    height: 7.68px;
  }

  .lead__image-ellipse:nth-child(3) {
    position: absolute;
    top: 234.67px;
    right: 49.05px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(6) {
    position: absolute;
    top: 204.38px;
    right: 108.5px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(9) {
    position: absolute;
    top: 256.2px;
    right: 235.75px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(12) {
    position: absolute;
    top: 270.6px;
    right: 335.4px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(15) {
    position: absolute;
    top: 227.41px;
    right: 388.93px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(18) {
    position: absolute;
    top: 284.03px;
    right: 420.23px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(21) {
    position: absolute;
    top: 258.12px;
    right: 516.58px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(24) {
    position: absolute;
    top: 220.69px;
    right: 589.87px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(27) {
    position: absolute;
    top: 276.35px;
    right: 673.05px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(30) {
    position: absolute;
    top: 252.36px;
    right: 703.52px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(33) {
    position: absolute;
    top: 118px;
    right: 805.64px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(36) {
    position: absolute;
    top: 207.2px;
    right: 886.52px;
    z-index: 1;
  }
}

@media screen and (max-width: 928px) {
  .lead__image-ellipse {
    width: 5.45px;
    height: 6.35px;
  }

  .lead__image-ellipse:nth-child(3) {
    position: absolute;
    top: 194.21px;
    right: 40.6px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(6) {
    position: absolute;
    top: 169.14px;
    right: 89.8px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(9) {
    position: absolute;
    top: 212.03px;
    right: 195.11px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(12) {
    position: absolute;
    top: 223.94px;
    right: 277.58px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(15) {
    position: absolute;
    top: 188.2px;
    right: 321.88px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(18) {
    position: absolute;
    top: 235.06px;
    right: 347.77px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(21) {
    position: absolute;
    top: 213.62px;
    right: 427.51px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(24) {
    position: absolute;
    top: 182.64px;
    right: 488.17px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(27) {
    position: absolute;
    top: 228.71px;
    right: 557.01px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(30) {
    position: absolute;
    top: 208.65px;
    right: 582.23px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(33) {
    position: absolute;
    top: 97.66px;
    right: 666.74px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(36) {
    position: absolute;
    top: 171.47px;
    right: 733.67px;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .lead__image-ellipse {
    width: 2.27px;
    height: 2.65px;
  }

  .lead__image-ellipse:nth-child(3) {
    position: absolute;
    top: 80.92px;
    right: 16.91px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(6) {
    position: absolute;
    top: 70.47px;
    right: 37.41px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(9) {
    position: absolute;
    top: 88.34px;
    right: 81.29px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(12) {
    position: absolute;
    top: 93.31px;
    right: 115.66px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(15) {
    position: absolute;
    top: 78.42px;
    right: 134.11px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(18) {
    position: absolute;
    top: 97.94px;
    right: 144.91px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(21) {
    position: absolute;
    top: 89.01px;
    right: 178.13px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(24) {
    position: absolute;
    top: 76.01px;
    right: 203.4px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(27) {
    position: absolute;
    top: 95.29px;
    right: 232.09px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(30) {
    position: absolute;
    top: 87.02px;
    right: 242.59px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(33) {
    position: absolute;
    top: 40.69px;
    right: 277.81px;
    z-index: 1;
  }

  .lead__image-ellipse:nth-child(36) {
    position: absolute;
    top: 71.45px;
    right: 305.7px;
    z-index: 1;
  }
}
