.lead__image {
  max-width: 886px;
  min-height: 224.59px;
  margin-left: 41.5px;
  padding-top: 128.61px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 835.58px;
    min-height: 211.81px;
    margin-left: 39.4px;
    padding-top: 121.29px;
  }
}

@media screen and (max-width: 928px) {
  .lead__image {
    max-width: 691.51px;
    min-height: 175.29px;
    margin-left: 32.39px;
    padding-top: 100.38px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 288.13px;
    min-height: 73.04px;
    margin-left: 13.5px;
    padding-top: 41.83px;
  }
}
