.lead__image {
  background-image: url(../../../images/kalegin-michail-179870-unsplash.png);
  background-size: cover;
  max-width: 984px;
  min-height: 615px;
  margin: 0 auto;
  margin-top: 64px;
  position: relative;
}
